nav {
    background-color: #3b5998;
}

.navbar {
    text-transform: uppercase;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Back to top button */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #000;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
}

#myBtn:hover {
    background-color: #111;
}
